header .header-right{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
  position: absolute;
  right: 0;
  font-size: 14px;
  font-weight: 600;
}
header .header-right .header-text{
  text-align: center;
  color: #FAFAFA;
}
header{
  position: relative;
  display: flex;
  padding: 20px 93px;
}
body{
  margin: 0 auto !important;
  max-width: 1170px;
  font-family: 'Poppins Ag';
}
.banner-page{
  padding: 0 93px;
}
.background_banner{
  background-color:#5882FA;
  z-index: 1;
  width: 100%;
  max-width: 1170px;
  height: 700px;
}
.background_banner, .body-service{
  position: absolute;
}
.banner-page .banner-page-left{
  width: 60%;
  padding: 80px 0;
}
.banner-page .banner-page-left .learn-more{
  background-color:#EA168D;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  padding: 6px 10px 5px;
  border-radius: 8px;
  border: 1px solid #EA168D;
  margin-top: -5px;
}
.banner-page .banner-page-left .row-three{
  padding: 0 30px 0 0;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}
.banner-page .banner-page-left .row-one{
  font-size: 60px;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 60px;
}
.banner-page .banner-page-left .row-two{
  font-size: 60px;
  font-weight: 400;
  color: #FFFFFF;
}
.body-service{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 220px;
  z-index: 2;
  top: 609px;
  max-width: 983px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px 6px rgba(129, 128, 128, 0.1);
  border-radius: 8px;
}
.body-service .column_two{
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
.body-service .column_three{
  margin: 0 36px;
}
.body-service .column_three .service_market{
  margin-top: 35px;
}
.body-service .fa{
  border-radius: 50%;
  border: 2px solid #EA168D;
  margin-right: 20px;
  color: #EA168D;
  font-size: 30px;
}
.body-service .body-service_column{
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-service .body-service_column .service{
  font-size: 24px;
  font-weight: 900;
  color: #3D409D;
}
.body-service .body-service_column .body-service_column_text{
  margin: 0 40px;
  padding-top: 38px;
  display: -webkit-box;
}
.body_content{
  padding: 0 93px;
}
.body_content .text_title{
  text-align: center;
}
.body_content .text_title_row_one{
  font-size: 48px;
  font-weight: 900;
  color: #3D409D;
  font-style: normal;
}
.body_content .text_title_row_two{
  font-size: 24px;
  font-weight: 400;
  color: #757575;
}

.body_content .body_box{
  display: grid;
  padding: 24px;
  grid-column-gap: 20px;
  grid-template-columns:50%;
  border-radius: 20px;
  background-size: cover;
}
.box_slide_1{
  background-image: url("/images/slide_1.svg");
}
.box_slide_2{
  background-image: url("/images/slide_2.svg");
}
.box_slide_3{
  background-image: url("/images/slide_3.svg");
}
.box_slide_4{
  background-image: url("/images/slide_4.svg");
}
.body_content .body_box .body_box_column{
  border: 1px solid orange;
  padding: 33px;
  border-radius: 20px;
}
.body_content .body_box .body_box_column_big{
  height: auto;
  background-color: #3D409D;
  color: #FFFFFF;
  border: 1px solid #E3E3E3;
}
.body_content .body_box .body_box_column_small{
  min-height: 296px;
  height: auto;
  background-color: #FAFAFA;
  border: 1px solid #E3E3E3;
  height: fit-content;
}
.body_content .body_box .body_box_column .column_row_title{
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 15px;
}
.body_content .body_box .body_box_column .column_row_title_right{
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 15px;
  color: #3D409D;
}
.fa-stop{
  margin: 5px 15px 0 0;
  color: #EA168D;
}
.text_row{
  margin-bottom: 25px;
}
.footer_right{
  float: right;
  display: flex;
}
.footer_right .footer_right_icon{
  display: flex;
  margin-top: -4px;
}
.icon_logo{
  margin-left: 10px;
}


.khoi-slide {
  width:  100%;
  height:  700px;
  position:  relative;
}

img {
  width:  100%;
}

.cac-slide {
  width:  100%;
  height:  700px;
  overflow:  hidden;
  
}
.slide {
  position:  absolute;
  top: 0px;
  left: 0px;
  opacity:  0;
  visibility:  hidden;
}
.slide.active{
  opacity:  1;
  visibility:  visible;	
}
.nut-slide span{
  color: #F86296;;
  font-size: 40px;
}
span#btn-prev{
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: 10;
  cursor: pointer;
}
span#btn-next{
  position: absolute;
  top: 30%;
  right: 0%;
  z-index: 10;
  cursor: pointer;
}
.nut-slide ul {
  position:  absolute;
  z-index:  10;
  width:  100px;
  bottom:  33%;
  left:  50%;
  margin-left: -50px;
  display:  flex;
  justify-content:  space-between;
}

.nut-slide ul li {
  width:  10px;
  height:  10px;
  background:  #C4C4C4;
  opacity:  0.7;
  list-style:  none;
  border-radius:  50%;
  cursor:  pointer;
  transition: 0.6s;
}
.bien-mat-ben-trai{
  animation: bien-mat-ben-trai 1s forwards;
}
@-webkit-keyframes bien-mat-ben-trai{
  from{
      transform: translateX(0%);
  }
  to{
      transform: translateX(-100%);
  }
}
.di-vao-ben-phai{
  animation: di-vao-ben-phai 1s forwards;
}
@-webkit-keyframes di-vao-ben-phai{
  from{
      transform: translateX(100%);
  }
  to{
      transform: translateX(0%);
  }
}
/*xử lý nút prev*/
.bien-mat-ben-phai{
  animation: bien-mat-ben-phai 1s forwards;
}
@-webkit-keyframes bien-mat-ben-phai{
  from{
      transform: translateX(0%);
  }
  to{
      transform: translateX(100%);
  }
}
.di-vao-ben-trai{
  animation: di-vao-ben-trai 1s forwards;
}
@-webkit-keyframes di-vao-ben-trai{
  from{
      transform: translateX(-100%);
  }
  to{
      transform: translateX(0%);
  }
}
.nut-slide ul li.active_nut{
  opacity: 1;
  background-color: #1A4C9D;
}
